// out: style.css, sourcemap: true, compress: true
yellow = #fdea4d
blue = #005A73
bluemiddle = #80ACB9
bluelight = #E5EEF1
black = #1E1E1E
breakpoint1 = 1040px
breakpoint2 = 860px
breakpoint3 = 600px
breakpoint4 = 480px

bodyfont(font-size=16px, line-height=22px)
  font-size font-size
  line-height line-height
  font-family adelle sans, sans-serif
  font-weight 300
  color black

headingfont(font-size=40px, font-weight=200, line-height=50px)
  font-family bree serif, sans-serif
  font-weight font-weight
  font-size font-size
  line-height line-height
  color black

*
  padding 0
  margin 0
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

body

a
  color blue
  &:hover
    color bluemiddle
    transition 0.1s

h1
  headingfont(42px, 400)
  color black

h2
  headingfont(33px)

h2 a
  text-decoration: none
  color black

h3
  headingfont(24px, 200, 32px)
  line-height 32px
  margin-top 30px
  margin-bottom 50px
  color black

h4
  text-transform uppercase
  bodyfont(12px,12px)
  margin 10px 0px 25px 0px

article
  bodyfont()

p
  bodyfont()

.site-wrapper
  max-width 1440px
  margin-left auto
  margin-right auto
  position relative

.navigation
  headingfont(16px,200,24px)
  position fixed
  height 60px
  z-index 100
  background-color rgba(255,255,255,0.95)
  display flex
  width 100%
  left 0
  justify-content space-between
  align-items center
  box-sizing border-box
  box-shadow 0px 0px 5px 1px rgba(30,30,30,0.2)
  a
    text-decoration none

#navigation-items, #navigation-items-mobile
  max-width 1440px
  width 100%
  margin auto
  z-index 999
  img
    width 190px
    border 1 px solid black
    box-shadow 0px 0px 5px 1px rgba(30,30,30,0.2)
    position absolute
    top 0
    margin-left 75px

@media only screen and (max-width:breakpoint3)
  #navigation-items-mobile
    img
      margin-left 38px

@media only screen and (max-width:breakpoint4)
  #navigation-items-mobile
    img
      width 150px

#mobile-navigation
  display none

@media only screen and (max-width:breakpoint3)
  #mobile-navigation
    display block
    #mobile-menu
      display none
  .navigation
    display none

#mobile-menu
  width 100%
  height 100vh
  text-align center
  background-color blue
  position absolute
  top 60px
  padding-top 150px
  a
    color white
    line-height 60px
  ul
    top 150px
    display inline
    headingfont(32px)


#mobile-menu-button
  position absolute
  right 20px
  top 15px

.menu-default-menu-container
  ul
    list-style none
    display flex
    justify-content flex-end
    li
      margin-right 40px

.index-header
  width 100%
  background-image url('/energiearmoede/wp-content/uploads/2016/11/photo-1462003627669-87bee17e0b4e-1.jpeg')
  background-size cover
  background-position center
  height 85vh
  position relative

.header-title
  position absolute
  max-width 500px
  bottom 30px
  left 75px
  h1
    color white
  h3
    color white

@media only screen and (max-width:breakpoint3)
  .header-title
    left 38px

.categories
  display flex
  flex-wrap wrap

.category-tile
  width 50%
  box-sizing border-box
  align-items center
  display flex
  flex-wrap wrap
  background-color white

.category-image
  width 50%
  height 100%
  img
    width 100%
    height 100%

@media only screen and (max-width:breakpoint3)
  .category-image
    width 100%
    height auto

.category-tile:nth-of-type(3), .category-tile:nth-of-type(4)
  flex-direction row-reverse
  .category-data
    &:before
      right -20px
      left auto

@media only screen and (max-width:breakpoint2)
  .category-tile
    width 100%
  .category-tile:nth-of-type(2), .category-tile:nth-of-type(4)
    flex-direction row-reverse
    .category-data
      &:before
        right -20px
        left auto
  .category-tile:nth-of-type(3)
    flex-direction row
    .category-data
      &:before
        left -20px
        right auto

@media only screen and (max-width:breakpoint3)
  .category-tile
    .category-data
      &:before
        left calc(50% - 20px)!important
        top -22px

.category-data
  text-align center
  width 50%
  padding 20px
  box-sizing border-box
  position relative
  h2
    margin 0px 10px
    overflow: hidden;
    text-overflow: ellipsis;
  &:before
    content ''
    width 40px
    height 40px
    background-color white
    position absolute
    top 0px
    left -20px
    transform rotate(45deg)
  p
    bodyfont()

@media only screen and (max-width:breakpoint1)
  .category-data
    h2
      headingfont(28px,,36px)
    p
      bodyfont(14px,20px)

@media only screen and (max-width:breakpoint2)
  .category-data
    h2
      headingfont()
    p
      bodyfont()

@media only screen and (max-width:660px)
  .category-data
    h2
      headingfont(28px,,36px)
    p
      bodyfont(14px,20px)

@media only screen and (max-width:breakpoint3)
  .category-data
    width 100%
    height 200px
    h2
      margin-top 20px
      headingfont()
    p
      bodyfont()

.general-header
  min-height 300px
  max-width 100%
  box-sizing border-box
  background-color #B2CDD5

#page-header
  padding 150px 25px 25px 125px
  position relative
  h1
    position absolute
    bottom 40px
@media only screen and (max-width:breakpoint2)
  #page-header
    padding 75px
@media only screen and (max-width:breakpoint3)
  #page-header
    padding 75px 38px

#category-header
  padding 150px 20px 20px 75px
  background-position right top
  background-size contain
  background-repeat no-repeat
  h4
    text-transform lowercase
    headingfont(14px,,22px)
    a
      color blue
  h2
    headingfont(33px,200,32px)
  article
    margin-top 10px
@media only screen and (max-width:breakpoint3)
  #category-header
    padding 150px 20px 20px 38px

.general-content
  width 100%
  position relative
  box-sizing border-box
  background-color white
  h1
    headingfont(45px,400)
  article
    max-width 700px
    flex 3
    margin-right 50px
    p
      bodyfont(18px, 30px)
      margin-top 20px
      &:first-of-type
        margin-top:40px

#category-content
  padding 75px 125px
  display flex
  flex-wrap wrap
  justify-content space-around

#page-content
  padding 25px 125px

@media only screen and (max-width:breakpoint1)
  .general-content
      article
        flex none
        width 100%

@media only screen and (max-width:breakpoint2)
  .general-content
    display block
  #category-content
    padding 50px 75px
  #page-content
    padding 50px 75px

@media only screen and (max-width:breakpoint3)
  #category-content
    padding 50px 38px
  #page-content
    padding 50px 38px

aside
  headingfont(18px,,30px)
  ul
    list-style-type decimal
    list-style-position inside
    margin-top 40px

#prev-next-post-nav
  padding 10px 75px
  display flex
  justify-content space-between
  h4
    margin-bottom 0px

@media only screen and (max-width:breakpoint3)
  #prev-next-post-nav
    padding 10px 38px

#prev-post-nav
  svg
    transform rotate(180deg)

.footer
  background-color bluelight
  text-align center
  width 100%
  color white
  min-height 200px
  p
    headingfont(24px,,32px)
    padding-top 50px
  span
    headingfont(24px,400,32px)
