// out: style.css, sourcemap: true, compress: true
yellow = #fdea4d


blue = #005A73
bluemiddle = #80ACB9
bluelight = #E5EEF1
black = #1E1E1E
breakpoint1 = 1040px
breakpoint2 = 860px
breakpoint3 = 600px
breakpoint4 = 480px

bodyfont(font-size=18px, line-height=26px)
  font-size font-size
  line-height line-height
  font-family adelle-sans, 'Roboto', sans-serif
  font-weight 300
  color black

headingfont(font-size=40px, font-weight=200, line-height=50px)
  font-family bree-serif, 'Bitter', sans-serif
  font-weight font-weight
  font-size font-size
  line-height line-height
  color black

*
  padding 0
  margin 0
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

body
  background-color white

a
  color blue
  transition 0.3s
  &:hover
    color bluemiddle

h1
  headingfont(42px, 400)
  color black

h2
  headingfont(36px)

h2 a
  text-decoration: none
  color black

h3
  headingfont(24px, 200, 32px)
  line-height 32px
  margin-top 30px
  margin-bottom 50px
  color black

h4
  text-transform uppercase
  bodyfont(12px,12px)
  margin 10px 0px 25px 0px

article
  bodyfont()

p
  bodyfont()

// wrapper around website

.site-wrapper
  max-width 100%
  margin-left auto
  margin-right auto
  position relative

// menu

.navigation
  headingfont(18px,200,24px)
  position fixed
  height 55px
  z-index 100
  background-color rgba(255,255,255,1)
  display flex
  width 100%
  left 0
  justify-content space-between
  align-items center
  box-sizing border-box
  box-shadow 0px 0px 3px 1px rgba(30,30,30,0.2)
  a
    text-decoration none

@media only screen and (max-width:breakpoint4)
  .navigation
      position absolute
      top 0

.menu-default-menu-container
  ul
    list-style none
    display flex
    justify-content flex-end
    li
      padding 15px 0px
      padding-right 40px
      position relative
      &:hover
        ul
          li
            display block
      ul
        position absolute
        display block
        li
          margin-right auto
          border-bottom 1px solid bluemiddle
          background-color white
          padding 15px
          margin-left -15px
          display none
          bodyfont(14px,18px)
          font-weight 400
          max-width 200px
          box-shadow 0px 0px 3px 1px rgba(30,30,30,0.2)
          &:first-of-type
            padding-top 25px
            &:before
              content ''
              position absolute
              width 210px
              background-color white
              left -5px
              top -3px
              height 15px
          &:last-of-type
            border-bottom 0px

#navigation-items, #navigation-items-mobile
  max-width 1440px
  width 100%
  margin auto
  z-index 999
  img
    width 180px
    border 1 px solid black
    box-shadow 0px 0px 3px 1px rgba(30,30,30,0.2)
    position absolute
    top 0
    margin-left 75px

@media only screen and (min-width:1440px)
  #navigation-items, #navigation-items-mobile
    img
      margin-left 25px

@media only screen and (max-width:breakpoint3)
  #navigation-items-mobile
    img
      margin-left 25px

@media only screen and (max-width:breakpoint4)
  #navigation-items-mobile
    img
      width 125px

#mobile-menu
  display none

#mobile-navigation
  display none

@media only screen and (max-width:breakpoint2)
  #mobile-navigation
    display block
  #mobile-menu
    display none
  .navigation
    display none

#mobile-menu
  position relative
  width 100%
  top 0
  z-index 200
  background-color blue
  text-align center
  padding 40px 20px
  headingfont(28px)
  a
    text-decoration none
    color white
  ul
    list-style none

#mobile-menu-button
  position absolute
  right 20px
  top 15px
  cursor pointer
  -webkit-transition stroke 1s
  svg
    path
      transition all 0.3s
  &:hover
    svg
      path
        stroke bluelight
  &:active
    svg
      path
        stroke bluelight


//header on homepage

.index-header
  width 100%
  background-image url('../../../wp-content/uploads/2016/11/headerbeeld2.jpg')
  background-size cover
  background-position center bottom
  min-height 550px
  box-sizing border-box
  position relative
  padding 0px 25px 50px 75px
  margin-bottom 15px

@media only screen and (max-width:breakpoint3)
  .index-header
    padding 0px 25px 50px 25px
    min-height 80vh

.header-title
  max-width 1440px
  margin auto
  display flex
  min-height 550px
  height 550px
  box-sizing border-box
  justify-content flex-end
  flex-direction column
  h1
    color white
    text-shadow 0px 0px 5px rgba(30,30,30,0.5)
  h3
    color white
    max-width 500px
    text-shadow 0px 0px 5px rgba(30,30,30,0.5)

@media only screen and (max-width:breakpoint3)
  .header-title
    min-height 80vh
    h1
      headingfont(36px,400,42px)
      color white
      margin-top 100px
    h3
      headingfont(22px,,30px)
      color white
      margin-bottom 0px

// category tiles

.categories
  max-width 1440px
  margin auto
  display flex
  flex-wrap wrap

.category-tile
  width calc(50% - 30px)
  margin-right 15px
  margin-bottom 15px
  box-sizing border-box
  align-items stretch
  display flex
  flex-wrap wrap
  background-color bluelight
  &:hover
    .category-data
      background-color #bed8e0
      cursor pointer
      h2
        color blue
      &:before
        background-color #bed8e0

.category-tile:nth-of-type(odd)
  margin-left 15px

.category-tile:nth-of-type(even)
  width calc(50% - 15px)

.category-tile:nth-of-type(n+3)
  flex-direction row-reverse
  .category-data
    &:before
      right -20px
      left auto

@media only screen and (max-width:breakpoint2)
  .category-tile
    width calc(100% - 30px)
    margin-left auto
    margin-right auto
    margin-top 0px!important
    margin-bottom 15px
  .category-tile:nth-of-type(even)
    flex-direction row-reverse
    width calc(100% - 30px)
    .category-data
      &:before
        right -20px
        left auto
  .category-tile:nth-of-type(3)
    flex-direction row
    .category-data
      &:before
        left -20px
        right auto

@media only screen and (max-width:breakpoint3)
  .category-tile
    .category-data
      &:before
        left calc(50% - 20px)!important
        top -20px

.category-image
  width 50%
  height 100%
  img
    width 100%
    height 100%

@media only screen and (max-width:breakpoint3)
  .category-image
    width 100%
    height auto

.category-data
  text-align center
  width 50%
  padding 20px
  box-sizing border-box
  position relative
  display flex
  flex-direction column
  justify-content center
  background-color bluelight
  transition all 0.3s
  a
    text-decoration none
  h2
    line-height 36px
    padding 5px 10px
    overflow: hidden;
    text-overflow: ellipsis;
  &:before
    transition all 0.3s
    content ''
    width 40px
    height 40px
    background-color bluelight
    position absolute
    top 30px
    left -20px
    transform rotate(45deg)
  p
    bodyfont()

@-webkit-keyframes h2moveup
  0%
    transform translateY(0)
    -webkit-transform translateY(0)
  100%
    transform translateY(1.5px)
    -webkit-transform translateY(1.5px)

@media only screen and (max-width:breakpoint1)
  .category-data
    h2
      headingfont(28px,,28px)
    p
      bodyfont(14px,20px)

@media only screen and (max-width:breakpoint2)
  .category-data
    h2
      headingfont()
    p
      bodyfont()

@media only screen and (max-width:660px)
  .category-data
    h2
      headingfont(28px,,28px)
    p
      bodyfont(14px,20px)

@media only screen and (max-width:breakpoint3)
  .category-data
    width 100%
    min-height 200px
    height auto
    h2
      margin-top 15px
      headingfont(32px)
    p
      bodyfont()
      margin-bottom 25px

//header with shared style for both article page & 'regular' page

.general-header
  min-height 350px
  max-width 100%
  box-sizing border-box
  background-color #B2CDD5

.general-header-content
  width 1440px
  max-width 100%
  margin auto
  box-sizing border-box

// header for 'regular' page

#page-header
  padding 150px 25px 30px 125px
  position relative
  h1
    position absolute
    bottom 40px
@media only screen and (max-width:breakpoint2)
  #page-header
    padding 75px
@media only screen and (max-width:breakpoint3)
  #page-header
    padding 75px 25px

// header for article page

#article-header
  padding 200px 25px 30px 75px
  display flex
  justify-content flex-end
  flex-direction column
  background-position right top
  background-size contain
  background-repeat no-repeat
  h2
    headingfont(36px,200,32px)
    margin-bottom 15px
  article
    bodyfont(18px,26px)
    max-width 500px
  h4
    margin-bottom 5px

@media only screen and (max-width:breakpoint3)
  #article-header
    padding 150px 20px 20px 25px

@media only screen and (max-width:breakpoint4)
  #article-header
      article
        bodyfont(16px,24px)

// article styling

.general-content
  max-width 1440px
  position relative
  box-sizing border-box
  background-color white
  margin auto
  h1
    headingfont(45px,400)
    margin-top 75px
  article
    max-width 650px
    flex 3
    margin 0px 0px 50px 0px
    blockquote
      width 90%
      margin-left 50px
      padding 15px 0px
      p
        headingfont(36px,200,48px)
        text-align left
        color blue
    p
      bodyfont(18px, 30px)
      margin-top 20px
      &:first-of-type
        margin-top:25px

@media only screen and (max-width:breakpoint4)
  .general-content
    h1
      headingfont(40px,400,42px)
      margin-top 50px
    article
      margin 0px

#article-content
  padding 0px 50px
  display flex
  flex-wrap wrap

#page-content
  padding 25px 125px

@media only screen and (min-width 1440px)
  #article-content
    padding 0px
  #page-content
    padding-left 50px

@media only screen and (max-width:breakpoint2)
  .general-content
    display block
  #article-content
    padding 0px 50px 75px 50px
  #page-content
    padding 50px 75px

@media only screen and (max-width:breakpoint3)
  #article-content
    padding 0px 25px
  #page-content
    padding 50px 25px

@media only screen and (max-width:breakpoint4)
  #article-content
    padding 0px
    article
      padding 0px 25px

#article-introduction
  p
    headingfont(23px,,32px)
    margin-top 40px

@media only screen and (max-width:breakpoint4)
  #article-introduction
    p
      headingfont(21px,,28px)
      margin-top 25px
  #article-text
    p
      bodyfont(16px,26px)
    blockquote
      width 90%
      padding 15px 0px 5px
      margin-left 25px
      p
        headingfont(32px,200,40px)
        text-align left
        color blue
        margin 0px

// sidebar with article list on article page

aside
  bodyfont(18px,26px)
  background-color bluelight
  height 100%
  width 250px
  padding 20px 25px 25px 25px
  margin-right 75px
  h4
    margin 50px 0px 15px 0px
  a
    text-decoration none
  ul
    list-style-type decimal
    list-style-position inside
    li
      margin-top 8px

@media only screen and (max-width:breakpoint1)
  aside
    width 200px
    bodyfont(16px,22px)
    margin-right 50px

@media only screen and (max-width:breakpoint2)
  aside
    width 100%
    margin-right 0px

@media only screen and (max-width:breakpoint4)
  aside
    h4
      margin-top 25px

// additional navigation between articles

#prev-next-post-nav
  padding 10px 0px
  display flex
  justify-content space-between
  h4
    margin-bottom 0px

@media only screen and (max-width:breakpoint3)
  #prev-next-post-nav
    padding 10px 25px

#prev-post-nav
  svg
    transform rotate(180deg)

// footer styling

.footer
  background-color rgba(0,0,0,0.05)
  margin-top 25px
  text-align center
  width 100%
  color white
  min-height 200px
  padding 25px
  box-sizing border-box
  p
    headingfont(24px,,32px)
    padding-top 50px
  span
    headingfont(24px,400,32px)

@media only screen and (max-width:breakpoint3)
  .footer
    margin-top 0px
    p
      padding-top 10px
