// out: style.css, sourcemap: true, compress: true
yellow = #fdea4d
blue = #005A73
bluemiddle = #80ACB9
bluelight = #E5EEF1
black = #1E1E1E
breakpoint1 = 1040px
breakpoint2 = 860px
breakpoint3 = 600px
breakpoint4 = 480px

bodyfont(font-size=17px, line-height=27px)
  font-size font-size
  line-height line-height
  font-family adelle-sans, 'Roboto', sans-serif
  font-weight 300
  color black

headingfont(font-size=40px, font-weight=200, line-height=45px)
  font-family bree-serif, 'Bitter', sans-serif
  font-weight font-weight
  font-size font-size
  line-height line-height
  color black

*
  padding 0
  margin 0
  box-sizing border-box
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

body
  background-color white

a
  color blue
  transition 0.3s
  &:hover
    color bluemiddle

h1
  headingfont(42px, 400)
  color black

h2
  headingfont(30px)

h2 a
  text-decoration: none
  color black

h3
  headingfont(24px, 200, 34px)
  line-height 32px
  margin-top 30px
  margin-bottom 50px
  color black

h4
  text-transform uppercase
  bodyfont(12px,14px)
  margin 10px 0px 25px 0px

article
  bodyfont()
  word-wrap break-word
  ol 
    margin:0px;
    padding-left:15px;
  ol li 
    margin: 0px;
    padding: 0px;
    margin-left: 1em;
  ul
    margin:0;
    padding-left:30px;
    &:first-of-kind
      margin-top 25px
  ul li
    margin: 0px;
    padding: 0px;
    margin-left: -0.5em;  
    margin-bottom 10px

p
  bodyfont()

// wrapper around website

.site-wrapper
  max-width 100%
  margin-left auto
  margin-right auto
  position relative

// menu

.navigation
  headingfont(17px,200,24px)
  position fixed
  height 55px
  z-index 100
  background-color rgba(255,255,255,1)
  display -ms-flexbox
  display flex
  width 100%
  left 0
  -ms-flex-pack justify
  justify-content space-between
  -ms-flex-align center
  align-items center
  box-sizing border-box
  box-shadow 0px 0px 3px 1px rgba(30,30,30,0.2)
  a
    text-decoration none

.menu-default-menu-container
  ul
    list-style none
    display -ms-flexbox
    display flex
    -ms-flex-pack end
    justify-content flex-end
    li
      padding 15px 0px
      padding-right 40px
      position relative
      &:hover
        ul
          li
            display block
      ul
        position absolute
        display block
        li
          margin-right auto
          border-bottom 1px solid bluemiddle
          background-color white
          padding 15px
          margin-left -15px
          display none
          headingfont(15px,200,22px)
          font-weight 400
          width 200px
          box-shadow 0px 0px 3px 1px rgba(30,30,30,0.2)
          &:first-of-type
            padding-top 25px
            &:before
              content ''
              position absolute
              width 250px
              background-color white
              left -5px
              top -3px
              height 15px
          &:last-of-type
            border-bottom 0px

#navigation-items
  display -ms-flexbox
  display flex
  -ms-flex-pack justify
  justify-content space-between

#navigation-links
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center

#download-toolkit
  width 240px
  headingfont(14px,500,14px)
  padding-bottom 3px
  margin 0px
  background-color blue
  color white
  cursor pointer
  border 0px
  border-radius 5px
  height 40px
  box-shadow inset 0 -3px 0px rgba(0,0,0,0.5)
  transition 0.3s
  &:hover
    background-color bluemiddle

#navigation-items, #navigation-items-mobile
  max-width 1440px
  width 90%
  padding 0px
  margin 0 auto
  z-index 999
  img
    width 180px
    border 1 px solid black
    box-shadow 0px 0px 3px 1px rgba(30,30,30,0.2)
    position absolute
    top 0

@media only screen and (max-width:breakpoint3)
  #navigation-items
    width 100%
  #navigation-items-mobile
    width 100%
    padding 0px 25px
    
@media only screen and (max-width:breakpoint4)
  #navigation-items-mobile
    img
      width 125px

#mobile-menu
  display none

#mobile-navigation
  position relative
  display none

@media only screen and (max-width:breakpoint2)
  #mobile-navigation
    display block
  #mobile-menu
    display none
  .navigation
    display none

#mobile-menu
  position relative
  width 100%
  top 0
  z-index 200
  background-color blue
  text-align center
  padding 40px 20px
  box-sizing border-box
  headingfont(22px)
  a
    text-decoration none
    color white
  ul
    list-style none
    li
      margin-bottom 10px

#mobile-menu-button
  position absolute
  right 20px
  top 15px
  cursor pointer
  -webkit-transition stroke 1s
  width 28px
  height 21px
  img
    width 100%
    height 100%
    box-shadow none
  svg
    path
      transition all 0.3s
  &:active
    svg
      path
        stroke bluelight


//header on homepage

.index-header
  width 100%
  background-size cover
  text-align center
  background-position bottom center
  min-height 80vh
  box-sizing border-box
  position relative
  padding 0px 25px 50px 75px

@media only screen and (max-width:breakpoint3)
  .index-header
    padding 0px 25px 50px 25px
    min-height 80vh

.header-title
  text-align center
  margin 0 auto
  padding 60px 80px 80px
  max-width 1000px
  h1
    color black
  h3
    color black
    margin-bottom 0px

@media only screen and (max-width:breakpoint3)
  .header-title
    padding 40px
    text-align left
    h1
      headingfont(36px,400,42px)
    h3
      headingfont(22px,,30px)

@media only screen and (max-width:breakpoint4)
  .header-title
    padding 20px 20px 40px

// homepage content block

.best-practices
  background-color #bed8e0
  padding 80px
  margin-bottom 40px
  h2
    text-align center
    headingfont(42px,200,45px)
    margin-bottom 40px

.best-practices-content
  max-width 1440px
  width 90%
  margin 0 auto
  display -ms-flexbox
  display flex
  -ms-flex-pack justify
  justify-content space-between
  -ms-flex-align start
  align-items flex-start
  div
    max-width 350px
    text-align center
    padding-right 35px
    margin 0 auto
  img
    margin 30px 0px
    width 180px
    height 140px
  p
    line-height 24px
    text-align left
    span
      font-weight bold

@media only screen and (max-width:breakpoint2)
  .best-practices
    padding 60px 40px

  .best-practices-content
    display block
    div
      width 100%
      margin-bottom 30px

@media only screen and (max-width:breakpoint4)
  .best-practices
    padding 60px 20px
    div
      padding-right 0px

#best-practices-1, #best-practices-2, #best-practices-3
  opacity 0
  margin-top 20px

.index-content
  max-width 1440px
  width 90%
  box-sizing border-box
  background-color white
  margin -80px auto 0px
  position relative

@media only screen and (max-width:breakpoint3)
  .index-content
    width 90%
    padding 0px
    margin -40px auto 0px

// category tiles

.categories
  max-width 1440px
  width 90%
  margin 0 auto
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  h1
    flex 0 0 100%
    text-align center
    headingfont(42px,200,45px)
    margin 40px 0px 0px
  h3
    flex 0 0 100%
    text-align center

@media only screen and (max-width:breakpoint2)
  .categories
    h1
      margin 20px 0px 0px
    h3
      padding 20px
      box-sizing border-box
      margin-bottom 20px
    br
      display none

.category-tile
  width calc(50% - 15px)
  margin-right 15px
  margin-bottom 15px
  box-sizing border-box
  -ms-flex-align stretch
  align-items stretch
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  background-color #9CBDC7
  &:hover
    .category-data
      background-color #bed8e0
      cursor pointer
      h2
        color blue
      &:before
        background-color #bed8e0

.category-tile:nth-of-type(n+3)
  -ms-flex-direction row-reverse
  flex-direction row-reverse
  .category-data
    &:before
      right -20px
      left auto

@media only screen and (max-width:breakpoint1)
  .category-tile
    width calc(100% - 15px)
    margin-top 0px!important
    margin-bottom 15px
  .category-tile:nth-of-type(even)
    -ms-flex-direction row-reverse
    flex-direction row-reverse
    width calc(100% - 15px)
    .category-data
      &:before
        right -20px
        left auto
  .category-tile:nth-of-type(3)
    -ms-flex-direction row
    flex-direction row
    .category-data
      &:before
        left -20px
        right auto

@media only screen and (max-width:breakpoint3)
  .category-tile
    .category-data
      &:before
        left calc(50% - 20px)!important
        top -20px

.category-image
  width 50%
  height 100%
  background-color #9CBDC7
  img
    width 100%
    height 100%

@media only screen and (max-width:breakpoint3)
  .category-tile
    margin-right 0px
    width 100%!important
    margin-bottom 30px
  .category-image
    width 100%
    height auto

.category-data
  text-align center
  width 50%
  padding 20px
  box-sizing border-box
  position relative
  display -ms-flexbox
  display flex
  -ms-flex-direction column
  flex-direction column
  -ms-flex-pack center
  justify-content center
  background-color bluelight
  transition all 0.3s
  a
    text-decoration none
  h2
    line-height 36px
    padding 5px 10px
    overflow: hidden;
    text-overflow: ellipsis;
  &:before
    transition all 0.3s
    content ''
    width 40px
    height 40px
    background-color bluelight
    position absolute
    top 40%
    left -20px
    transform rotate(45deg)
  p
    bodyfont(,23px)

@-webkit-keyframes h2moveup
  0%
    transform translateY(0)
    -webkit-transform translateY(0)
  100%
    transform translateY(1.5px)
    -webkit-transform translateY(1.5px)

@media only screen and (max-width:1200px)
  .category-data
    h2
      headingfont(23px,,26px)
    h4
      margin -5px 0px 15px
      bodyfont(10px)
    p
      bodyfont(14px,18px)

@media only screen and (max-width:breakpoint1)
  .category-data
    h2
      headingfont(40px,,40px)
    h4
      margin 5px 0px 15px
      bodyfont(12px)
    p
      bodyfont()

@media only screen and (max-width:660px)
  .category-data
    h2
      headingfont(28px,,28px)
    p
      bodyfont(14px,18px)

@media only screen and (max-width:breakpoint3)
  .category-data
    width 100%
    min-height 200px
    height auto
    h2
      margin-top 15px
      headingfont(32px,,32px)
    p
      bodyfont()
      margin-bottom 25px

//header with shared style for both article page & 'regular' page

.general-header
  min-height 350px
  max-width 100%
  box-sizing border-box
  background-color #9CBDC7
  background-position right center
  background-size cover
  background-repeat no-repeat
  position relative

.general-header-content
  max-width 1440px
  width 90%
  margin 0 auto
  z-index 2

@media only screen and (max-width:breakpoint2)
  .general-header-content
    width 100%
    padding 0px 50px
    
@media only screen and (max-width:breakpoint3)
  .general-header-content
    width 100%
    padding 0px 25px


// header for 'regular' page

#page-header
  padding 150px 50px 30px
  position relative
  h1
    position absolute
    bottom 40px
  &:before
    content ''
    position absolute
    width 100%
    left 0px
    top 0px
    height 100%
    background-image: linear-gradient(to top right, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0) 40%);
@media only screen and (max-width:breakpoint1)
  #page-header
    padding 50px
@media only screen and (max-width:breakpoint3)
  #page-header
    padding 0px

//error message

#error-message
  text-align center
  padding-top 50px

// header for article page

#article-header
  padding 200px 0px 30px 0px
  display -ms-flexbox
  display flex
  -ms-flex-pack end
  justify-content flex-end
  -ms-flex-direction column
  flex-direction column
  background-position bottom center
  background-size cover
  background-repeat no-repeat
  &:after
    content ''
    position absolute
    width 100%
    left 0px
    top 0px
    height 100%
    background-image: linear-gradient(to top right, rgba(156,189,199,0.9) 20%, rgba(156,189,199,0) 45%);
  h2
    headingfont(36px,400,32px)
    margin-bottom 15px
  article
    bodyfont(17px,27px)
    max-width 500px
  h4
    margin-bottom 5px

@media only screen and (max-width:breakpoint3)
  #article-header
    article
    &:after
      background-image: linear-gradient(to top, rgba(156,189,199,0.9) 25%, rgba(156,189,199,0) 55%);

@media only screen and (max-width:breakpoint4)
  #article-header
    article
      bodyfont(17px,27px)
    &:after
      background-image: linear-gradient(to top, rgba(156,189,199,0.9) 30%, rgba(156,189,199,0) 65%);

// article styling

.general-content
  max-width 1440px
  width 90%
  position relative
  background-color white
  margin 0 auto
  h1
    headingfont(45px,400)
    margin-top 75px
  article
    max-width 650px
    flex 3
    blockquote
      width 90%
      margin-left 50px
      padding 15px 0px
      p
        headingfont(36px,200,48px)
        text-align left
        color blue
    p
      bodyfont(17px, 27px)
      margin-bottom 20px
      &:first-of-type
        margin-top:25px

@media only screen and (max-width:breakpoint3)
  .general-content
    width auto
    margin 0 auto
    h1
      headingfont(40px,400,42px)
      margin-top 50px    
    
@media only screen and (max-width:breakpoint2)
  .general-content
    padding 0px 0px
  #post
    padding 0px 25px
    
#article-content
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap

#article-text
  margin-bottom 50px
  bodyfont(17px,27px)
  p
    margin-top 25px
    img
      width 100%
      height 100%

#article-introduction
  ul
    &:first-of-type
      margin-top 25px
  p
    headingfont(23px,,32px)
    margin-top 40px
    img
      width 100%
      height 100%

@media only screen and (max-width:breakpoint4)
  #article-introduction
    p
      headingfont(21px,,28px)
      margin-top 25px
  #article-text
    p
      bodyfont(17px,27px)
    blockquote
      width 90%
      padding 15px 0px 5px
      margin-left 25px
      p
        headingfont(32px,200,40px)
        text-align left
        color blue
        margin 0px

//page styling

#page-content
  article
    margin 0px 50px    
    p
      &:first-of-type
        margin-top 75px

@media only screen and (max-width:breakpoint1)
  #page-content
      p
        &:first-of-type
          margin-top 40px

@media only screen and (max-width:breakpoint3)
  #page-content
    article
      margin 0px 25px

// sidebar with article list on article page

aside
  bodyfont(17px,27px)
  background-color bluelight
  height 100%
  width 300px
  margin-right 75px
  h4
    margin 50px 0px 15px 0px
    padding 0px 20px
  a
    text-decoration none
    &:hover
      color blue
  ul
    list-style-type decimal
    list-style-position inside
    li
      padding 16px 25px 8px 25px
      transition all 0.2s
      &:last-of-type
        padding-bottom 16px
      &:hover
        background-color white
        opacity 0.8
      &[data-active="1"]
        background-color #f7f9f9
        padding 20px 25px
        color blue
        font-weight bold

@media only screen and (max-width:breakpoint1)
  aside
    width 250px
    bodyfont(17px,22px)
    margin-right 50px

@media only screen and (max-width:breakpoint2)
  aside
    width 100%
    margin auto

@media only screen and (max-width:breakpoint4)
  aside
    h4
      margin-top 25px

// additional navigation between articles

#prev-next-post-nav
  padding 10px 0px
  display -ms-flexbox  
  display flex
  -ms-flex-pack justify
  justify-content space-between
  h4
    margin-bottom 0px

@media only screen and (max-width:breakpoint3)
  #prev-next-post-nav
    padding 10px 25px

#prev-post-nav
  svg
    transform rotate(180deg)

// footer styling

.footer
  background-color rgba(0,0,0,0.05)
  margin-top 80px
  text-align center
  box-sizing border-box
  width 100%
  color white
  min-height 200px
  padding 15px 15px 50px
  box-sizing border-box
  
  .footer-inner
    width 1000px
    max-width 100%
    margin 0 auto
    text-align center
    box-sizing border-box

  p
    headingfont(24px,,32px)
    padding 50px 0px 0px
    // display -ms-flexbox
    // display flex
    // -ms-flex-wrap wrap
    // flex-wrap wrap
    // -ms-flex-pack center
    // justify-content center
    // -ms-flex-align center
    // align-items center
    overflow hidden
  span
    headingfont(24px,400,32px)
  img
    display inline-block
    filter grayscale(100%)
    -webkit-filter: grayscale(1);
    height 50px
    margin 20px 30px

#logo_tertium 
  height 35px
  
#logo_dynamo
  height 55px
  
#logo_woon
  height 65px  
      
#logo_gmu
  height 65px
  
#logo_ecn
  height 38px

.video-container
  position relative
  padding-bottom 56.25%
  padding-top 25px
  height 0

  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    
@media only screen and (max-width:breakpoint3)
  .footer
    margin-top 0px
    p
      padding 20px

/*! Gray v1.5.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);

  /* Firefox 35+ */
  filter: grayscale(1);

  /* IE 6-9 */
  filter: gray;
}

.grayscale.grayscale-fade {
  transition: filter .5s;
}

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition:         -webkit-filter .5s;
  }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}

/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition:         opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}